
<main id="main" class="layout-3col__full" role="main">
  <ul class="tabs">
    <li class="tabs__tab is-active"><a href="simpleSearch.html" class="tabs__tab-link is-active active">简单搜索<span class="visually-hidden">(active tab)</span></a></li>
    <li class="tabs__tab"><a routerLink="/adsearch" class="tabs__tab-link">高级搜索</a></li>
  </ul>

  <div id="content">
    <form id="ecust-lib-form-book-query" accept-charset="UTF-8">
      <div>
        <div class="form-item form-type-select form-item-field">
          <select id="edit-field" name="field" class="form-select required" (change)="optionchange()">
            <option value="name">标题</option>
            <option value="author">作者</option>
            <option value="publish">出版社</option>
            <option value="callNo">索书号</option>
            <option value="isbn">ISBN</option>
          </select>
        </div>

        <div class="form-item form-type-textfield form-item-key">
          <input [(ngModel)]= this.searchcontent placeholder="请输入..." type="text" id="edit-key" name="key" value="" size="60" maxlength="128" class="form-text required">
        </div>


        <div class="form-actions form-wrapper" id="edit-actions">
          <input type="submit" id="edit-submit" name="op" value="搜索" class="form-submit" (click)="search(searchoption,searchcontent)">
        </div>
        <div class="item-list">
          <ul>
            <li><a href="/zh-hans/books/query?field=title&amp;key=%E9%AB%98%E7%AD%89%E6%95%B0%E5%AD%A6">高等数学</a></li>
            <li><a href="/zh-hans/books/query?field=title&amp;key=%E6%9C%89%E6%9C%BA%E5%8C%96%E5%AD%A6">有机化学</a></li>
            <li><a href="/zh-hans/books/query?field=title&amp;key=%E5%8C%96%E5%B7%A5%E5%8E%9F%E7%90%86">化工原理</a></li>
            <li class="last"><a href="/zh-hans/books/query?field=title&amp;key=%E7%BB%8F%E6%B5%8E%E5%AD%A6%E5%8E%9F%E7%90%86">经济学原理</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div *ngFor="let type of types" class="book-item">
    <div class="title">
      <div style="width: 100px;height: 10px">
      </div>
      <a  routerLink="/typedetail/{{type.isbn}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{type.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <span class="bookId">
   					<label><b>索书号：</b></label>
        <span><b>	{{type.callno}}</b></span>
   				</span>
    </div>
    <ul class="author">
      <li>
        <label>著者：</label>
        <span>{{type.author}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </li>
      <li>
        <label>出版日期：</label>
        <span>{{type.publishtime}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </li>
      <li>
        <label>出版社：</label>
        <span>{{type.publisher}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </li>
      <li class="r">
        <label>可借复本：</label>
        <span>{{type.inno}}&nbsp;&nbsp;&nbsp;</span>
      </li>
      <li class="r">
        <label>馆藏复本：</label>
        <span>{{type.inno}}</span>
      </li>
    </ul>
  </div>
</main>

