<p>adsearch works!</p>
<form action="/books/advquery" method="GET" id="ecust-lib-form-book-adv-query" accept-charset="UTF-8"><div>
  <div class="form-item form-type-textfield form-item-title">
    <label for="edit-title">标题 </label>
    <input placeholder="请输入..." type="text" id="edit-title" name="title" value="" size="60" maxlength="128" class="form-text">
  </div>
  <div class="form-item form-type-textfield form-item-author">
    <label for="edit-author">作者 </label>
    <input placeholder="请输入..." type="text" id="edit-author" name="author" value="" size="60" maxlength="128" class="form-text">
  </div>
  <div class="form-item form-type-textfield form-item-publish">
    <label for="edit-publish">出版社 </label>
    <input placeholder="请输入..." type="text" id="edit-publish" name="publish" value="" size="60" maxlength="128" class="form-text">
  </div>
  <div class="form-item form-type-textfield form-item-isbn">
    <label for="edit-isbn">ISBN </label>
    <input placeholder="请输入..." type="text" id="edit-isbn" name="isbn" value="" size="60" maxlength="128" class="form-text">
  </div>
  <div class="form-item form-type-textfield form-item-callNo">
    <label for="edit-callno">索书号 </label>
    <input placeholder="请输入..." type="text" id="edit-callno" name="callNo" value="" size="60" maxlength="128" class="form-text">
  </div>
  <input type="hidden" name="form_build_id" value="form-XlogAycmBTIW_3RR7dvGEDdAUVUxRl2jjYVsxLQ5CXI">
  <input type="hidden" name="form_id" value="ecust_lib_form_book_adv_query">
  <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="搜索" class="form-submit"></div></div></form>
